@import "tailwindcss";

:root {
  --background: #0E0D13;
  --font-color: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: Rubik, Arial, Helvetica, sans-serif;
}
